@import "tailwindcss";

/* ==========================================================================
  1. Base Reset
========================================================================== */
#root,
body,
html {
  width: 100vw;
  height: 100dvh;
}
* {
  box-sizing: border-box;
}

/* TEMP: Debug overflow layout */
/* * {
  border: 1px solid red;
} */
/* ==========================================================================
  2. Root Variables
========================================================================== */
:root {
  --background-color: #adbbca;
}
body {
  background-color: var(--background-color);
}

/* ==========================================================================
  3. Custom Utilities & Components
========================================================================== */

@layer utilities {
  /* ==========================================================================
  Components
  ========================================================================== */
  /* ---  Header  --- */
  .header-container {
    @apply w-[75%] h-20 mx-auto flex items-center justify-between;
  }
  .header-sections {
    @apply flex items-center;
  }
  .header-sections-content {
    @apply flex items-center gap-4 font-serif;
  }
  .header-main {
    @apply flex items-center font-thin  text-gray-200;
  }
  .header-links {
    @apply font-medium hover:border-b-2;
  }

  .header-input {
    @apply flex bg-gray-200 rounded-4xl h-14;
  }
  .search-icon {
    @apply ml-4;
  }
  .input-field {
    @apply focus:outline-none;
  }
  /* --- Search Results --- */
  .search-results {
    /* @apply fixed top-[60px] right-0.5 w-[284px] bg-[#383838] text-white rounded-lg p-2 font-sans; */
    @apply absolute top-full left-0 mt-2 w-full bg-[#383838] text-white rounded-lg p-2 font-sans z-50;
  }
  .search-results p {
    @apply text-[12px] font-medium text-[#a5a5a5] py-0.5 px-3;
  }
  .search-results ul li {
    @apply cursor-pointer hover:bg-[#0359d1] rounded-sm;
  }

  .search-results ul li p {
    @apply text-white;
  }
  /* ---  Places Card  --- */

  .place-card {
    @apply flex flex-col w-[650px] rounded-xl p-6 shadow-md font-sans leading-relaxed gap-3;
  }

  .place-card-header {
    @apply flex justify-between items-center;
  }

  .place-card-header p {
    @apply text-xl font-semibold m-0;
  }

  .save-btn {
    @apply flex px-3 py-2 items-center hover:cursor-pointer h-8 min-w-8 p-2 bg-[#212529] hover:bg-black rounded-[20px] text-white text-sm;
  }

  .place-card-description {
    @apply text-sm text-gray-700 mb-4;
  }

  .footer {
    @apply text-xs text-gray-600 flex flex-wrap gap-2 mt-4;
  }

  /* ==========================================================================
  pages
  ========================================================================== */
  /* --- Main Content --- */
  .main-content {
    @apply flex flex-1 m-auto;
  }
  /* --- Landing Page --- */
  .landing-section {
    @apply flex flex-col items-center w-full gap-16 px-20 my-auto  overflow-clip;
  }
  .landing-content {
    @apply flex flex-col gap-y-8 items-center;
  }
  .landing-text-container {
    @apply flex flex-col items-center text-center gap-4 w-full px-4;
  }
  .landing-title {
    @apply text-center font-bold text-gray-900 text-5xl sm:text-4xl;
  }

  .landing-description {
    @apply flex flex-col items-center gap-2 w-full max-w-[600px] text-gray-600 text-[18px] leading-[150%] break-normal;
  }

  .landing-actions {
    @apply flex items-center gap-x-2 gap-y-2;
  }

  .btn-primary {
    @apply px-6 py-3 bg-blue-600 text-white rounded-lg font-medium hover:bg-blue-700 transition;
  }

  /* Explorer Page */
  .explorer-section {
    @apply flex flex-col items-center w-full gap-4 px-20   overflow-clip;
  }
  .image-wrapper {
    @apply relative;
  }
  .places {
    @apply absolute top-4 left-4 text-white text-3xl font-extrabold;
  }
  .description {
    @apply absolute bottom-4 left-4 text-[#e9e9e9] font-medium;
  }
  .top-places {
    @apply font-bold text-2xl;
  }
}
